.dashboard__lista {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

.dashboard__lista-item {
    margin: 1rem 0;
    display: inline-block;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.dashboard__input {
    width: 70px;
    margin-top: .5rem;
    outline-color: var(--secondary);
    border-radius: 3px;
    border: 1px solid var(--secondary);
    text-align: center;
}

.dashboard__legenda {
    color: var(--primary);
}