/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background: #22577A;
    color: #fff;
    padding: 0px;
    border-radius: 0px 0px 5px 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

main {
    height: 100vh;
    background-image: url('../img/fundo_landing.png');
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
}
main .landing-text button {
    background-color: var(--primary);
    color: var(--bg-white);
    border: none;
}

main .landing-text h1 {
    font-size: 2.5rem;
}

main .landing-text p {
    font-size: 1.25rem;
    margin: 20px 0;
}

.cta {
    background: var(--primary);
    color: var(--bg-white);
    border-radius: 5px;
    padding: 15px 30px;
    margin-bottom: 155px;
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
}

a:not(.esqueceu-a-senha) {
    text-decoration: none;
    color: var(--bg-white);
    font-size: 1.1em;
}