/* Estilos para as bordas azuis */
body {
    font-size: 3.5em;
    min-width: 320px;
}

.border-blue {
    border: 2px solid var(--secondary);
}

.custom-height {
    height: auto; /* Ajuste o valor conforme necessário */
    min-height: 380px;
}

.card-body{
    height: auto;
    width: auto;
}

.card-header {
    background-color: var(--primary);
}

.class, .capture {
    font-weight: 700;
} 

.capture{
    color: var(--secondary);
}

.custom-button {
    width: auto; /* Ajuste o valor conforme necessário */
    min-width: 90%;
}

.btn-primary.custom-button {
    background-color: var(--third);
    font-size: 1.2em;
    font-weight: 700;
    text-shadow: var(--third);
}

.btn-primary.custom-button:active, .btn-primary.custom-button:hover {
    color: var(--bg-white);
    background-color: var(--primary);
}

.input-group-text ion-icon {
    font-size: 1.5em; /* Tamanho do ícone */
}

a:not(.esqueceu-a-senha) {
    text-decoration: none;
    color: var(--bg-white);
    font-size: 1.1em;
}

section {
    width: auto;
    min-width: 320px;
}

#msgError {
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border: 4px;
    display: none;
}