body {
    font-size: 16px;
    background: #22577a;
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    padding: 0;
}

.container {
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background: #f9fbfd;
}

.navbar {
    background-color: #38a3a5;
}

.badge {
    border-radius: 0px;
}

.nav-link {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.nav-item {
    margin: 0 1rem;
}

.principal {
    height: 100vh;
    padding: 2rem;
}

figure {
    background: url(../img/32117652_2208_w048_n005_265b_p1_265-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
}

.titulo, .banner__paragrafo {
    color: #22577a;

}

.banner__paragrafo {
    font-weight: 500;
}

.botao__assinatura {
    color: #f2f2f2;
    border-radius: 5px;
    border: none;
    background-color: #38a3a5;
    padding: .5rem 1rem;
}

.botao__assinatura:active, .botao__assinatura:hover {
    color: #f2f2f2;
    background-color: #57cc99;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
}

.carousel-inner {
    padding: 1em;
}
.carousel {
    width: auto;
}

.btn-primary {
    background-color: #38a3a5;
    border: none;
    --bs-btn-active-bg: #57cc99;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #57cc99;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
}

.footer {
    background-color: #38a3a5;
}